@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/* ===== VARIABLES ===== */

:root {
	
}

/* ===== CSS RESET ===== */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageBx {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background: url(../img/bgImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.container {
	width: 400px;
	padding: 1.2rem 1rem;
	background-color: rgba(0,0,0,.5);
	border-radius: 1.2rem;
}

/* ===== WEATHER SEARCH SECTION ===== */
 
.search {
	height: 60px;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.search .search__bar {
	width: 100%;
	height: 30px;
	border: 1px solid rgba(255, 255, 255, .4);
	padding: 0 10px;
	color: rgba(255, 255, 255, 1);
	outline: none;
	background: transparent;
	border-radius: 5px;
}

.search button {
	display: block;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	pointer-events: none;
}

.search button .search__path {
	stroke: rgba(255, 255, 255, 1);
}

/* ===== WEATHER MAIN SECTION ===== */

.weather {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weather .city {
	font-size: 2.7rem;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 5px;
}


.weather .weather__info {
	color: rgba(255, 255, 255, .7);
	font-size: .9rem;
	margin-bottom: 10px;
}

.weather .temperature {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weather .temperature .logo {
	display: block;
	width: 90px;
	height: 90px;
	border: none;
	outline: none;
	margin: 10px 0;
	appearance: none;
}

.weather .temperature .number {
	display: inline;
	font-size: 3.5rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
}

.weather .temperature .deg {
	position: relative;
	top: -8px;
	margin: 0 2px;
}
